:root {
  --primary-color-dark: #009432;
  --primary-color-medium: #A3CB38;
  --primary-color-light: #C4E538;
  --secondary-color-dark: #0652DD;
  --secondary-color-medium: #1289A7;
  --secondary-color-light: #12CBC4;
  --color-black: #000;
  --color-white: #fff;
  --gray-color-dark: #242424;
  --gray-color-medium: #6b6b6b;
  --gray-color-light: #acacac;
  --primary-font: 'Baloo Da 2', cursive; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  background-image: linear-gradient(to bottom, var(--primary-color-dark), var(--primary-color-medium));
  background-repeat: no-repeat;
  height: 100vh;
  font-family: var(--primary-font);
  font-size: 1.6rem; }

.container {
  margin: 6rem auto;
  width: 90%;
  height: 70vh;
  background-image: linear-gradient(to left top, var(--secondary-color-dark), var(--secondary-color-light));
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.7); }
