:root {
  --primary-color-dark: #009432;
  --primary-color-medium: #A3CB38;
  --primary-color-light: #C4E538;
  --secondary-color-dark: #0652DD;
  --secondary-color-medium: #1289A7;
  --secondary-color-light: #12CBC4;
  --color-black: #000;
  --color-white: #fff;
  --gray-color-dark: #444444;
  --gray-color-medium: #6b6b6b;
  --gray-color-light: #acacac;
  --primary-font: 'Baloo Da 2', cursive; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  background-image: linear-gradient(to bottom, var(--primary-color-medium), var(--primary-color-dark));
  background-repeat: no-repeat;
  height: 100%;
  font-family: var(--primary-font);
  font-size: 1.6rem; }

.header__iconBox--homeIcon {
  width: 9rem;
  height: 9rem;
  margin-left: 3rem;
  fill: var(--primary-color-dark); }

.header__headingsBox {
  margin-right: 3rem;
  color: var(--gray-color-dark); }

.imageBox {
  margin: 1rem;
  display: flex;
  flex-flow: row wrap;
  align-items: center; }
  .imageBox__photo {
    margin: 1rem;
    width: 31%;
    height: 31%;
    transition: all .3s; }
    .imageBox__photo--1 {
      flex: 1 0 99%; }
  .imageBox__photo:hover:not(:first-child) {
    z-index: 10;
    transform: scale(1.25); }

.footer__icon--1 {
  width: 4rem;
  height: 4rem;
  margin-left: 3rem;
  fill: var(--primary-color-dark); }

.footer__icon--2 {
  width: 4rem;
  height: 4rem;
  margin-left: 3rem;
  fill: var(--primary-color-dark); }

.container {
  margin: 6rem auto;
  width: 95%;
  border-radius: 2rem;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.7); }

.header {
  background-color: var(--secondary-color-light);
  border-radius: 2rem 2rem 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.content {
  display: flex; }

.sideNav {
  background-color: var(--gray-color-dark);
  flex: 0 0 15%; }

.mainSection {
  background-image: linear-gradient(to left top, var(--secondary-color-medium), var(--secondary-color-dark));
  flex: 1; }

.footer {
  background-color: var(--secondary-color-light);
  padding: 2rem;
  border-radius: 0 0 2rem 2rem; }
  .footer__iconBox {
    display: flex;
    justify-content: space-between; }
