.header {
  
    &__iconBox--homeIcon {
        width: 9rem;
        height: 9rem;
        margin-left: 3rem;
        fill: var(--primary-color-dark);
    }

    &__headingsBox {
        margin-right: 3rem;
        color: var(--gray-color-dark);
    }
}

.imageBox {
    margin: 1rem;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    &__photo {
        margin: 1rem;
        width: 31%;
        height: 31%;
        transition: all .3s;
        &--1 {
            flex: 1 0 99%;
        }
    }
    &__photo:hover {
        &:not(:first-child) {
            z-index: 10;
            transform: scale(1.25);
        }
    }
}

.footer {

    &__icon--1 {
        width: 4rem;
        height: 4rem;
        margin-left: 3rem;
        fill: var(--primary-color-dark);
    }

    &__icon--2 {
        width: 4rem;
        height: 4rem;
        margin-left: 3rem;
        fill: var(--primary-color-dark);
    }
}