.container {
    margin: 6rem auto;
    width: 90%;
    height: 70vh;
    border-radius: 2rem;
    background-image: linear-gradient(to left top, var(--secondary-color-light), var(--secondary-color-dark));
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, .7);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__iconBox--homeIcon {
        width: 8.5rem;
        height: 8.5rem;
        margin-left: 3rem;
        fill: var(--primary-color-dark);
    }

    &__headingsBox {
        margin-right: 3rem;
        color: var(--gray-color-dark);
    }
}
