.container {
    margin: 6rem auto;
    width: 90%;
    height: 70vh;
    background-image: linear-gradient(to left top, var(--secondary-color-dark), var(--secondary-color-light));
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, .7);
}